.modal-background {
  background-color: #00000000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  /* justify-content: center; */
  /* align-items: center; */
}
.modal-container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  border-radius: 5px;
  border: 4px black solid;
  background-color: #fefefe;
  padding: 20px;
  width: 400px;
}

/* The Close Button */
.close {
  color: white;
  background-color: black;
  float: none;
  border: none;
  border-radius: 5px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
